<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="content">
            <!-- beginning of content -->
            <div id="content-flow">
                <div class="post">
                    <div class="no-posts">
                        <h2><%= message %></h2>
                        <img src="../img/404.png" alt="404">
                        <ul>
                            <li>
                                <a href="/">Return to homepage</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>