<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="../img/snow.ico">
    <link rel="stylesheet" href="../css/style.css">
    <title>Add New Post</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="content">
            <!-- beginning of content -->
            <div id="content-flow">
                <div class="add-post">
                    <div class="add-post-text">
                        <h1>Add a new post</h1>
                        <hr>
                        <p>Here you can add a new post.</p>
                    </div>
                    <form action="/add" method="POST">
                        <div class="form-item">
                            <label for="post_title">Post title</label>
                            <input type="text" id="post_title" name="post_title"/>
                        </div>
                        <div class="form-item">
                            <label for="post_text">Post text</label>
                            <textarea rows="7" id="post_text" name="post_text"></textarea>
                        </div>
                        <div class="form-item">
                            <label for="post_image_url">Image url</label>
                            <input type="text" id="post_image_url" name="post_image_url"/>
                        </div>
                        <div class="actions">
                            <button type="submit" name="submit">Add post</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>