<footer>
    <ul class="footer">
        <li>Post-it Meta <sup>&copy;</sup></li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
    </ul>
    <div class="icons">
        <a href="#"><img src="../img/icon-news.png" alt="news"></a>
        <a href="#"><img src="../img/icon-settings.png" alt="settings"></a>
    </div>
</footer>