<!-- beginning of header -->
<header>
    <section id="navbar">
        <div class="header-logo">
            <img src="img/post-it-logo.png" alt="logo">
        </div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/addnewpost">Add post</a>
            </li>
            <li>
                <a href="/contact">Contact Us</a>
            </li>
        </ul>
    </section>
</header>
<!-- end of header -->